<main id="main">
    <!-- Back To Home Starts [ONLY MOBILE] -->
    <span class="back-mobile" id="back-mobile"><i class="fa fa-arrow-left"></i></span>
    <!-- Back To Home Ends [ONLY MOBILE] -->
<!-- Home Section Starts -->
<section id="home" class="active">
    <!-- Text Rotator Starts -->
    <div class="main-text-container">
        <div>
        <img class="leftimagepicture" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/67471231_10159802508141959_5714704933677170688_n.jpg?_nc_cat=108&_nc_oc=AQmq-WQUtseU8nyKt-rVocFMx4fYLu_fcwfxZw1g8gyKNfhyOyetSKHAtHmKDk7CwqU&_nc_ht=scontent-cdg2-1.xx&oh=96c8fb1ef009dab08c3f80eada0633b9&oe=5ECA8E08" alt=""/>
        </div>


        <div class="main-text" id="selector">
            <h1 class="ah-headline">
        Thomas Ponthoreau
            <span class="ah-words-wrapper">
                <b class="is-visible">- Developpeur Web</b>
            </span>
        </h1>
            <p class="desc">Actuellement en formation Développeur Web & Mobile spécialisé sur le
                framework Angular 8,  <br /> je suis à la recherche d’un stage de 4 à 6 mois. 
                Autonome, volontaire et persévérant, <br /> mon caractère me permet
                de m’adapter rapidement à une équipe de travail. <br />
                Passionné par le web et les technologies, je reste à l’affût <br />
                des dernières tendances et technologies utilisées.</p>
            <div class="call-to-actions-home">
                <div class="text-left">
                    <a [routerLink]="['/cv']" class="btn link-portfolio-one"><span><i class="fa fa-user"></i>a propos</span></a>
                    <a [routerLink]="['/portfolio']" class="btn btn-secondary link-portfolio-two"><span><i class="fa fa-suitcase"></i>portfolio</span></a>
                </div>
            </div>
        </div>
    </div>

    <a [routerLink]="['/connectez-vous']" class="btn btn-secondary link-portfolio-two"><span><i class="fa fa-suitcase"></i>portfolio</span></a>

    </section>
    </main>