
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/cv']">Experience</a></li>
            <li><a [routerLink]="['/portfolio']">Portfolio</a></li>
            <li><a [routerLink]="['/admin']">Admin</a></li>
            <li (click)="logOut()" *ngIf="authService.getToken()">Se Deconnecter</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>